USE [RaiKM_232]
GO
/****** Object:  StoredProcedure [Mnr].[prs_tblDarsadMablaghPersonalInsert]    Script Date: 9/14/25 10:23:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [Mnr].[prs_tblDarsadMablaghPersonalInsert] 
   
    @fldPersonald int,
    @fldDarsad decimal(5, 2),
    @fldTarikh nvarchar(10),
    @fldMachinSerialId int,
    @fldMablaghNahii bigint,
	@fldAyeenNameId int,
	@fldOperatorNumber  nvarchar(100)
AS 
	 
	
begin try	
BEGIN TRAN
declare @fldid bigint ,@fldOperator tinyint
set @fldOperator =case @fldOperatorNumber  WHEN N'اپراتور اول'  THEN 1 
WHEN N'اپراتور دوم'  THEN 2
 WHEN N'اپراتور سوم'   THEN 3
 WHEN N'اپراتور چهارم'  THEN 4
 WHEN N'اپراتور پنجم'  THEN 5
 WHEN N'کشیک' THEN 0 END 

if exists (select * from [Mnr].[tblDarsadMablaghPersonal] 
where fldTarikh=@fldTarikh and fldMachinSerialId=@fldMachinSerialId and fldPersonald=@fldPersonald and fldAyeenNameId=@fldAyeenNameId and fldOperatorNumber=@fldOperator) and @fldDarsad<>0.0

update [Mnr].[tblDarsadMablaghPersonal] 
set fldDarsad=@fldDarsad,fldMablaghNahii=@fldMablaghNahii
where fldTarikh=@fldTarikh and fldMachinSerialId=@fldMachinSerialId and fldPersonald=@fldPersonald and fldAyeenNameId=@fldAyeenNameId and fldOperatorNumber=@fldOperator

else if exists (select * from [Mnr].[tblDarsadMablaghPersonal] 
where fldTarikh=@fldTarikh and fldMachinSerialId=@fldMachinSerialId and fldPersonald=@fldPersonald and fldAyeenNameId=@fldAyeenNameId and fldOperatorNumber=@fldOperator) and @fldDarsad=0.0

delete from [Mnr].[tblDarsadMablaghPersonal] 
where fldTarikh=@fldTarikh and fldMachinSerialId=@fldMachinSerialId and fldPersonald=@fldPersonald and fldAyeenNameId=@fldAyeenNameId and fldOperatorNumber=@fldOperator

else if (@fldDarsad<>0.0) 
begin 
select @fldid=isnull(max(fldId),0)+1  FROM   [Mnr].[tblDarsadMablaghPersonal] 
INSERT INTO [Mnr].[tblDarsadMablaghPersonal] ([fldId], [fldPersonald], [fldDarsad], [fldTarikh], [fldMachinSerialId], [fldMablaghNahii],fldAyeenNameId, [fldDate],fldOperatorNumber)
SELECT @fldId, @fldPersonald, @fldDarsad, @fldTarikh, @fldMachinSerialId, @fldMablaghNahii,@fldAyeenNameId, getdate(),@fldOperator
end 	
	
				
       select ''  Err_Msg        
COMMIT
end try
begin catch
	rollback
	select ERROR_MESSAGE() Err_Msg
end catch