
/****** Object:  StoredProcedure [dbo].[prs_UpdateNazarKommiteSensitiveSegment_Request]    Script Date: 8/30/25 8:40:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[prs_UpdateNazarKommiteSensitiveSegment_Request](@fldNazarKommite TINYINT,@fldUserId INT,@fldId INT,@Tarikh NVARCHAR(10) ,@RequestId INT)
AS
begin try
BEGIN tran
DECLARE @allowe INT,@first INT,@ReqId  INT,@DashbordId INT
,@id_dash int,@tarikhaval nvarchar(10),@tarikhEtebar nvarchar(10),@__TarikhNahaii nvarchar(10)
SELECT @allowe=fldStakeholderIdAllowed,@first=fldFirstRegisterId FROM dbo.tblRequestRanking WHERE fldId=@RequestId
--SELECT TOP(1) @ReqId=fldId FROM tblRequestRanking WHERE fldStakeholderIdAllowed=@allowe AND fldFirstRegisterId=@first AND fldId NOT IN (@RequestId) ORDER BY fldId DESC
-- SELECT TOP(1) @DashbordId=fldId FROM dbo.tblDashboard WHERE fldRequestId=@ReqId ORDER BY fldid DESC

SELECT TOP(1)@id_dash= tblDashboard.fldId FROM dbo.tblDashboard WHERE fldRequestId
 in (SELECT tblRequestRanking.fldId FROM tblRequestRanking WHERE fldStakeholderIdAllowed=@allowe AND fldFirstRegisterId=@first AND fldId NOT IN (@RequestId) )
  ORDER BY tblDashboard.fldid DESC 

select @tarikhaval=fldTarikhEtebarAval,@tarikhEtebar=fldEetebareGavahiname from tblDashboardRanking
where fldDashboardId=@id_dash
if (@tarikhEtebar<@Tarikh)
begin 
	UPDATE dbo.tblDashboardRanking
SET fldEetebareGavahiname=@Tarikh
WHERE fldDashboardId
in (SELECT TOP(1) tblDashboard.fldId FROM dbo.tblDashboard WHERE fldRequestId
 in (SELECT tblRequestRanking.fldId FROM tblRequestRanking WHERE fldStakeholderIdAllowed=@allowe AND fldFirstRegisterId=@first AND fldId NOT IN (@RequestId) )
  ORDER BY tblDashboard.fldid DESC)

end 
/*chenge date 2025-08-30*/
/*if (@tarikhaval<>@tarikhEtebar)
begin
		if (@tarikhEtebar<@Tarikh) and( @tarikhaval>@Tarikh)
			set @__TarikhNahaii=@Tarikh
			
		else if (@tarikhEtebar>@Tarikh)	
			set @__TarikhNahaii=@tarikhEtebar
			
		else if (@tarikhaval<@Tarikh)
			 set @__TarikhNahaii=@tarikhaval
	
	
end
else if (@tarikhaval=@tarikhEtebar)
begin
	set @__TarikhNahaii=@tarikh
end */



--UPDATE dbo.tblDashboardRanking
--SET fldEetebareGavahiname=@__TarikhNahaii
--WHERE fldDashboardId
--in (SELECT TOP(1) tblDashboard.fldId FROM dbo.tblDashboard WHERE fldRequestId
-- in (SELECT tblRequestRanking.fldId FROM tblRequestRanking WHERE fldStakeholderIdAllowed=@allowe AND fldFirstRegisterId=@first AND fldId NOT IN (@RequestId) )
--  ORDER BY tblDashboard.fldid DESC)




UPDATE dbo.tblStakeholderSensitiveSegment_Request
SET fldNazarKommite=@fldNazarKommite ,fldUserId=@fldUserId,fldDate=GETDATE()
WHERE fldId=@fldId


if (select fldTreeId from tblStakeholderSensitiveSegment_Request where fldId=@fldId) >=30
begin
UPDATE dbo.tblStakeholderSensitiveSegment_Client
SET  fldNazarKommiteSeg=@fldNazarKommite,fldTarikhEtebarSeg=@Tarikh,fldDate=GETDATE()
WHERE fldSegmentClient_RequestId=@fldId
AND @fldId IN ( SELECT fldSegmentRequestId FROM dbo.tblSensetiveSegment_ResultHeader WHERE tblSensetiveSegment_ResultHeader.fldid IN ( SELECT fldHeaderId FROM dbo.tblSensetiveSegment_ResultDetail
					WHERE fldMostanadat =3 AND fldTajhizat =3 AND fldFarayand =3 AND fldTest =3 AND fldAzmayesh =3 and fldnemoone=3 and fldanboo=3 AND fldSegmentClientId=dbo.tblStakeholderSensitiveSegment_Client.fldId AND tblSensetiveSegment_ResultHeader.fldId=fldHeaderId) AND @fldId=fldSegmentRequestId)
 
end  
if (select fldTreeId from tblStakeholderSensitiveSegment_Request where fldId=@fldId)<30
begin

UPDATE dbo.tblStakeholderSensitiveSegment_Client
SET  fldNazarKommiteSeg=@fldNazarKommite,fldTarikhEtebarSeg=@Tarikh,fldDate=GETDATE()
WHERE fldSegmentClient_RequestId=@fldId
AND @fldId IN ( SELECT fldSegmentRequestId FROM dbo.tblSensetiveSegment_ResultHeader WHERE tblSensetiveSegment_ResultHeader.fldid IN ( SELECT fldHeaderId FROM dbo.tblSensetiveSegment_ResultDetail
					WHERE fldMostanadat IN (3,4) AND fldTajhizat IN (3,4) AND fldFarayand IN (3,4) AND fldTest IN (3,4) AND fldAzmayesh IN (3,4) AND fldSegmentClientId=dbo.tblStakeholderSensitiveSegment_Client.fldId AND tblSensetiveSegment_ResultHeader.fldId=fldHeaderId) AND @fldId=fldSegmentRequestId)
   
end
commit
end try

begin catch 
rollback
end catch